.Devs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  h3 {
    color: white;
    font-size: 2.5em;
    font-family: "KARNIVOT";
    background: -webkit-linear-gradient(bottom, #ff00ee, #00c3ff);
    background: linear-gradient(to top, #ff00ee, #00c3ff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  img {
    height: 100px;
    width: 100px;
  }

  p{
    word-break: normal;
  }

};