@font-face {
  font-family: "joystix";
  src: url('../../assets/fonts/joystix.ttf')
  }

.AboutElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  

  h2 {
    font-size: 4em;
    font-family: "KARNIVOT";
    background: -webkit-linear-gradient(bottom, #ff00ee, #00c3ff);
    background: linear-gradient(to top, #ff00ee, #00c3ff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10vh;
  }

  .aboutContainer {
    display: flex;
    max-width: 100vw;
  
    div {
        display: flex;
        flex-direction: column;
        width: 30vw;
        align-items: center;


      h3 {
        font-size: 2.5em;
        font-family: "KARNIVOT";
        text-align: center;
        background: -webkit-linear-gradient(bottom, #ff00ee, #00c3ff);
        background: linear-gradient(to top, #ff00ee, #00c3ff); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 6vh 0vw 1vh 0vw;
      }
  
      img {
        height: 40vh;
        width: auto;
        align-self: center;
      }
  
      p {
        width: auto;
        font-size: 0.9em;
        letter-spacing: -0.05em;
        font-family: "joystix";
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        line-height: 2.4vh;
        text-align: center;
        overflow: normal;
        margin: 1vh 1vw;
      }
    }
  }
}