@font-face {
  font-family: "Maze"; 
  src: url('../../assets/fonts/Maze.ttf')
}

@font-face {
  font-family: "KARNIVOT"; 
  src: url('../../assets/fonts/KARNIVOT.ttf')
}

@font-face {
  font-family: "KARNIVBL"; 
  src: url('../../assets/fonts/KARNIVBL.ttf')
}

div {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h2 { 
  color: white;
  font-size: 2.5em;
  font-family: "KARNIVOT";
  background: -webkit-linear-gradient(bottom, #ff00ee, #00c3ff);
  background: linear-gradient(to top, #ff00ee, #00c3ff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input {
  background: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 2%;
  width: 10vw;
  height: 6vh;
  font-size: 3em;
  font-family: "KARNIVOT";
  background: -webkit-linear-gradient(bottom, #ff00ee, #00c3ff);
  background: linear-gradient(to top, #ff00ee, #00c3ff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: none;
}

button {
  color: black;
  width: 20vw;
  height: 6vh;
  background:  -webkit-gradient(linear,left top,left bottom,from(#ff00ee),to(#00c3ff));
  border: none;
  border-radius: 2%;
  font-size: 2.3em;
  font-family: "KARNIVOT";
}

h1 {
  font-family: "Maze";
  font-size: 8em;
  color: #ff00ee;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear,left top,left bottom,from(#ff00ee),to(#00c3ff));
  -webkit-background-clip: text;
}