* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: url('../../assets/img/backimg.jpg') black;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@font-face {
  font-family: "Maze"; 
  src: url('../../assets/fonts/Maze.ttf')
}

@font-face {
  font-family: "KARNIVOT"; 
  src: url('../../assets/fonts/KARNIVOT.ttf')
}

@font-face {
  font-family: "joystix";
  src: url('../../assets/fonts/joystix.ttf')
  }

@font-face {
  font-family: "Roboto-Bold"; 
  src: url('../../assets/fonts/Roboto-Bold.ttf')
}