* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 120vw;
  background-color: black;
}

@font-face {
  font-family: "Maze"; 
  src: url('../../assets/fonts/Maze.ttf')
}

@font-face {
  font-family: "KARNIVOT"; 
  src: url('../../assets/fonts/KARNIVOT.ttf')
}

@font-face {
  font-family: "KARNIVBL"; 
  src: url('../../assets/fonts/KARNIVBL.ttf')
}
