

.PlayerForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10vh;

  .PlayerName {
    width: 20vw;
    height: 6vh;
    font-family: "KARNIVOT";
    font-size: 2em;
    text-align: center;
    align-self: center;
    background: black;
    color: #00c3ff;
    outline-color: #ff00ee;
    border: 1px solid white;
    border-radius: 2%;
  }

  .ButtonContainer {
    display: flex;
    flex-direction: row;
    margin: 2vh 0vw;
    
    label {
      display: flex;
      flex-direction: row;
      border-radius: 1vw;
      width: 5vw;
      height: 5vh;
      align-items: center;
      justify-content: center;
      font-family: "Roboto-Bold";
      font-size: 3vh;
      -moz-box-shadow:    inset 0 0 5px 1px #000000;
      -webkit-box-shadow: inset 0 0 5px 1px #000000;
      box-shadow:         inset 0 0 5px 1px #000000;
    }

    label:hover, label:active {
      color: white;
      -moz-box-shadow:    inset 0 0 10px 1px #000000;
      -webkit-box-shadow: inset 0 0 10px 1px #000000;
      box-shadow:         inset 0 0 10px 1px #000000;
    }

    input:checked + label {
      color: white;
      -moz-box-shadow:    inset 0 0 20px 1px #000000;
      -webkit-box-shadow: inset 0 0 20px 1px #000000;
      box-shadow:         inset 0 0 20px 1px #000000;
    }

    input[type=radio] {
      visibility: hidden;
    }
  }
  
  button {
    align-self: center;
    color: black;
    width: 20vw;
    height: 6vh;
    background:  -webkit-gradient(linear,left top,left bottom,from(#ff00ee),to(#00c3ff));
    border: none;
    border-radius: 2%;
    font-size: 3.8vh;
    font-family: "KARNIVOT";
    -moz-box-shadow:    inset 0 0 5px 1px #000000;
    -webkit-box-shadow: inset 0 0 5px 1px #000000;
    box-shadow:         inset 0 0 5px 1px #000000;
    padding: 0;
  }

  button:hover, button:active {
    color: white;
    -moz-box-shadow:    inset 0 0 20px 1px #000000;
    -webkit-box-shadow: inset 0 0 20px 1px #000000;
    box-shadow:         inset 0 0 20px 1px #000000;
  }
  
}