@font-face {
  font-family: "Maze"; 
  src: url('../../assets/fonts/Maze.ttf')
}

.PlayersForm {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}