@font-face {
  font-family: "Maze"; 
  src: url(../assets/fonts/Maze.ttf)
}

h1 {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Maze";
  font-size: 1000%;

  color: #ff00ee;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear,left top,left bottom,from(#ff00ee),to(#00c3ff));
 -webkit-background-clip: text;
}